a:hover {
  cursor: pointer;
  color: black;
}

a {
  font-weight: 400;
  color: black;
}

.first_section_abot {
  background-color: red;
}
.About_Sinem {
  padding: 5vh 11vh;
  color: black;
}
.firstBlock {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.photo_first_section {
  width: 500px;
}

.me_Contacts {
  font-size: 2.2vh;
  padding: 0vh 11vh;
  color: black;
  text-align: left;
}
.wrapper_1_1 {
  font-weight: 400;
  padding-bottom: 4vh;
}

.span23 {
  font-weight: 700;
}
