.wrapper_faq {
  font-family: sans-serif;
  padding: 2vw 5vw;
  color: black;
}
.span_whatsapp {
  cursor: pointer;
  color: cornflowerblue;
}
.about_FAQ {
  display: flex;
  padding: 2vw 0vw;
  text-align: left;
}
h4 {
  margin: 0.3vh 0vh;
}
h1 {
  margin: 1.5vh 0vh;
}

h2 {
  margin: 0.5vh 0vh;
}

.FAQ_Question_1 {
  cursor: pointer;
  padding-bottom: 1vh;
  display: flex;
  text-align: left;
}
.Plot {
  display: flex;
  align-items: baseline;
}
.Plot_Text_1 {
  padding-right: 5vh;
  padding-left: 1vh;
}
.text_FAQ {
  padding-bottom: 0.7vh;
}
.Header_FAQ {
  font-weight: 400;
  padding-bottom: 1.2vh;
}

Button {
  padding: 1vh;
}

.btn_wrapper {
  display: flex;
  justify-content: right;
  padding-right: 20%;
  padding-bottom: 1%;
}

.wrapper_about {
  font-weight: 400;
}

li {
  font-weight: 600;
}
