.btn_in_block {
  justify-content: center;
  align-items: center;
  flex: 1 1 auto;
  padding-top: 10%;
  bottom: 50%;
  display: flex;
  gap: 10px; /* Gap between buttons */
  margin-top: 10px; /* Margin top for spacing above buttons */
}

.btn_sec {
  font-size: 17px;
}

.Text2D {
  font-size: 2vw;
  font-weight: 100;
  cursor: auto;
}

.container {
  justify-content: center;
}